<a
    class="item"
    [routerLink]="['/', item.type, item.isin]"
    [ngClass]="
        item.wrappedColor && (item.change >= 0 ? 'item_green' : 'item_red')
    "
>
    <div
        class="logo"
        [ngStyle]="{
            'background-image': 'url(' + this.getLogo(item) + ')',
            'background-color': this.getLogo(item) ? '' : 'var(--color-gray)'
        }"
    ></div>
    <p class="name" [title]="item.name">{{ item.name }}</p>
    <app-price-change [change]="item.change"></app-price-change>
</a>
