<a class="item" (click)="goTo([item.type, item.isin])">
    <div
        class="logo"
        [ngStyle]="{
            'background-image':
                'url(' + (item.logo || this.getLogo(item.isin)) + ')'
        }"
    ></div>
    <p class="name">{{ item.name }}</p>
    <div
        *ngIf="item.change"
        class="change"
        [ngClass]="item.change >= 0 ? 'change_green' : 'change_red'"
    >
        <div
            [ngStyle]="{
                transform: 'rotate(' + getRotateDeg(item.change) + 'deg)'
            }"
        >
            ↑
        </div>
        <p>{{ item.change }}%</p>
    </div>
</a>
