:host {
    display: flex;
    flex-grow: 1;
}

.item {
    text-decoration: none;
    color: var(--color-black);
    display: inline-block;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 5px var(--color-gray) solid;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    align-items: center;
    justify-content: center;
    height: 140px;
    width: 100px;
    text-align: center;
    flex-grow: 1;

    cursor: pointer;

    &:hover .logo {
        transform: scale(0.9);
    }

    &_green {
        border: 5px var(--color-green) solid;
    }

    &_red {
        border: 5px var(--color-red) solid;
    }
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 20px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transition: 0.2s;
}

.name {
    font-size: 1.2rem;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.change {
    display: inline-flex;
    gap: 5px;
    font-size: 1rem;
    font-weight: 700;

    &_green {
        color: var(--color-green);
    }

    &_red {
        color: var(--color-red);
    }
}

@media (max-width: 1024px) {
    .name {
        -webkit-line-clamp: 1;
    }
}
