<div class="container">
    <h2>Топ взлётов и падений</h2>
    <div class="content">
        <app-item [item]="item$ | async"></app-item>
        <app-item [item]="item$ | async"></app-item>
        <app-item [item]="item$ | async"></app-item>
        <app-item [item]="item$ | async"></app-item>
        <app-item [item]="item$ | async"></app-item
        ><app-item [item]="item$ | async"></app-item
        ><app-item [item]="item$ | async"></app-item
        ><app-item [item]="item$ | async"></app-item
        ><app-item [item]="item$ | async"></app-item
        ><app-item [item]="item$ | async"></app-item>
    </div>
</div>
<div class="container">
    <h2>Подборки</h2>
    <div class="content">Пусто</div>
</div>
