.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 5px var(--color-gray) solid;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0;
    justify-content: center;
    min-height: 150px;
}

.content {
    display: flex;
    flex-wrap: wrap;
}
