<div class="wrapper">
    <h2>Топ взлётов и падений</h2>
    <div class="content" *ngIf="topHighest$ | async as topHighest; else empty">
        <app-item
            *ngFor="let item of topHighest"
            [item]="{
                name: item.name,
                isin: item.uuid,
                type: 'crypto',
                logo: item.iconUrl,
                change: +item.change,
                wrappedColor: true
            }"
        ></app-item>
    </div>
    <div class="content" *ngIf="topLowest$ | async as topLowest; else empty">
        <app-item
            *ngFor="let item of topLowest"
            [item]="{
                name: item.name,
                isin: item.uuid,
                type: 'crypto',
                logo: item.iconUrl,
                change: +item.change,
                wrappedColor: true
            }"
        ></app-item>
    </div>
</div>
<div class="wrapper">
    <h2>Подборки</h2>
    <div class="content">
        <ng-container *ngIf="collections$ | async as collections; else empty">
            <ng-container *ngFor="let item of collections">
                <app-collection-item [collection]="item"></app-collection-item>
            </ng-container>
        </ng-container>
    </div>
</div>

<ng-template #empty>
    <p>Пусто</p>
</ng-template>
