<ng-container *ngIf="item$ | async as item">
    <div class="top-content">
        <app-chart [item]="item.coin"></app-chart>

        <div class="side-content">
            <div class="container">
                <p class="subtitle">Рыночный тренд</p>
                <div class="content">
                    <p
                        title="Вырастет или упадёт"
                        class="market-trand"
                        [ngStyle]="{
                            color: MARKET_TRAND_CONST[item?.retail_trand].color
                        }"
                    >
                        {{ MARKET_TRAND_CONST[item?.retail_trand].title }}
                    </p>
                </div>
            </div>

            <app-user-rating
                [human_trand]="{
                    up: item.human_trand_up,
                    down: item.human_trand_down
                }"
                [userAction]="item.user_action"
                [id]="item.coin.uuid"
            ></app-user-rating>

            <div class="container">
                <p class="subtitle">Цена от ИИ</p>
                <div class="content">
                    <button
                        [disabled]="isGeneratingPrice$ | async"
                        (click)="generatePrice(item.coin.name)"
                        [ngClass]="{
                            'generating-price': isGeneratingPrice$ | async
                        }"
                    >
                        {{
                            (isGeneratingPrice$ | async)
                                ? "Узнаём..."
                                : "Узнать"
                        }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <h2 class="block">Данные</h2>
    <div class="content">
        <div class="container">
            <p class="subtitle">Капитализация</p>
            <p>{{ formatNumber(item?.coin.marketCap) }}</p>
        </div>
        <div class="container">
            <p class="subtitle">Суточный объём</p>
            <p>{{ formatNumber(item.coin?.["24hVolume"]) }}</p>
        </div>
        <div class="container">
            <p class="subtitle">Максимальная цена</p>
            <p>
                {{ roundNumber(+item?.coin.allTimeHigh?.price) }}
                {{
                    getDiffCurrPrice(
                        item?.coin.allTimeHigh?.price,
                        item?.coin.price
                    )
                }}
            </p>
        </div>
        <div class="container">
            <p class="subtitle">Цена</p>
            <p>{{ roundNumber(+item?.coin.price) }}</p>
        </div>
        <div class="container">
            <p class="subtitle">Сайт</p>
            <a [href]="item.coin.websiteUrl" target="_blank">{{
                item.coin.websiteUrl
            }}</a>
        </div>
        <div class="container" *ngIf="item?.coin.description">
            <p class="subtitle">Описание</p>
            <p>{{ item?.coin.description }}</p>
            <!-- <p>{{ translate(item?.description) | async }}</p> -->
        </div>
    </div>

    <h2 class="block">Комментарии</h2>
    <form>
        <textarea
            placeholder="Напишите комментарий"
            cols="60"
            rows="5"
        ></textarea>
        <button>Отправить</button>
    </form>
    <div *ngIf="item?.comments?.length" class="comments"></div>
</ng-container>
