<ng-container *ngIf="item$ | async as item">
    <div class="top-content">
        <app-chart [item]="item.coin"></app-chart>

        <div class="side-content">
            <div class="container">
                <p class="subtitle">Рыночный тренд</p>
                <div class="content">
                    <p
                        title="Вырастет или упадёт"
                        class="market-trand"
                        [ngStyle]="{
                            color: MARKET_TRAND_CONST[item?.retail_trand].color
                        }"
                    >
                        {{ MARKET_TRAND_CONST[item?.retail_trand].title }}
                    </p>
                </div>
            </div>

            <app-user-rating
                [humanTrand]="{
                    up: item.human_trand_up,
                    down: item.human_trand_down
                }"
                [userAction]="item.user_action"
                [id]="item.coin.uuid"
            ></app-user-rating>

            <div class="container">
                <p class="subtitle">Цена от ИИ</p>
                <div class="content">
                    <ng-container
                        *ngIf="
                            generatedPrice$ | async as price;
                            else generateBtn
                        "
                    >
                        {{ price }}
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

    <h2 class="block">Данные</h2>
    <div class="content">
        <div class="container">
            <p class="subtitle">Капитализация</p>
            <p>{{ formatNumber(item?.coin.marketCap) }}</p>
        </div>
        <div class="container">
            <p class="subtitle">Суточный объём</p>
            <p>{{ formatNumber(item.coin?.["24hVolume"]) }}</p>
        </div>
        <div class="container">
            <p class="subtitle">Максимальная цена</p>
            <p>
                {{ roundNumber(+item?.coin.allTimeHigh?.price) }}
                {{
                    getDiffCurrPrice(
                        item?.coin.allTimeHigh?.price,
                        item?.coin.price
                    )
                }}
            </p>
        </div>
        <div class="container">
            <p class="subtitle">Цена</p>
            <p>{{ roundNumber(+item?.coin.price) }}</p>
        </div>
        <div class="container">
            <p class="subtitle">Сайт</p>
            <a [href]="item.coin.websiteUrl" target="_blank">{{
                item.coin.websiteUrl
            }}</a>
        </div>
        <div class="container" *ngIf="item?.coin.description">
            <p class="subtitle">Описание</p>
            <p>{{ item?.coin.description }}</p>
            <!-- <p>{{ translate(item?.description) | async }}</p> -->
        </div>
    </div>

    <h2 class="block">Действия</h2>
    <div class="content">
        <div class="container">
            <p class="subtitle">Избранное</p>
            <button
                [ngClass]="(isFavorite$ | async) ? 'red' : 'green'"
                (click)="toggleFavorite(item.coin.uuid)"
            >
                {{ (isFavorite$ | async) ? "Убрать" : "Добавить" }}
            </button>
        </div>
        <div class="container">
            <p class="subtitle">Виртуальный портфель</p>
            <div class="virtual-content">
                <div *ngIf="virtualStock$ | async as virtualStock">
                    <p>Количество: {{ virtualStock?.count || 0 }}</p>
                    <p>
                        Сумма: {{ roundNumber(virtualStock?.value) || 0 }}
                        {{
                            getDiffCurrPrice(
                                getVirtualPrice(
                                    virtualStock?.value,
                                    virtualStock?.count
                                ) + "",
                                item?.coin.price
                            )
                        }}
                    </p>
                </div>
                <div>
                    <div class="comment-box">
                        <input
                            type="number"
                            class="comment-input"
                            placeholder="Введите количество"
                            #quantity
                        />
                    </div>
                    <div class="buttons">
                        <button
                            class="green"
                            (click)="
                                manageVirtualStock(
                                    item.coin.uuid,
                                    +quantity.value,
                                    'add',
                                    +item.coin.price
                                )
                            "
                        >
                            Добавить
                        </button>
                        <button
                            *ngIf="virtualStock$ | async"
                            class="red"
                            (click)="
                                manageVirtualStock(
                                    item.coin.uuid,
                                    +quantity.value,
                                    'remove'
                                )
                            "
                        >
                            Удалить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2 class="block">Комментарии</h2>
    <app-comments type="item" [id]="id"></app-comments>

    <ng-template #generateBtn>
        <button
            [disabled]="isGeneratingPrice$ | async"
            (click)="
                generatePrice(item.coin.allTimeHigh.price, item.coin.price)
            "
            [ngClass]="{
                'generating-price': isGeneratingPrice$ | async
            }"
        >
            {{ (isGeneratingPrice$ | async) ? "Узнаём..." : "Узнать" }}
        </button>
    </ng-template>
</ng-container>
