<header [ngStyle]="{ 'background-color': (data$ | async)?.color }">
    <button *ngIf="!(isMainPage$ | async)" (click)="back()">Назад</button>
    <div *ngIf="data$ | async as data" class="data">
        <h1>{{ data?.name }}</h1>
        <p class="symbol">{{ data?.symbol }}</p>
        <app-price-change [change]="data?.change"></app-price-change>
    </div>
    <a
        *ngIf="userData$ | async as user; else login"
        class="profile-link"
        [routerLink]="['profile', user.user_id]"
        ><div
            class="profile-pic"
            [ngStyle]="{
                'background-image': 'url(' + (user?.pic || DEFAULT_PIC) + ')'
            }"
        ></div
    ></a>
</header>

<ng-template #login>
    <a
        *ngIf="!(isLoginPage$ | async)"
        class="profile-link"
        [routerLink]="['login']"
        >Войти</a
    >
</ng-template>
