<div class="container">
    <p class="subtitle">Пользовательский тренд</p>
    <div class="content">
        <div class="user-rating-score">
            <div class="user-rating-score_green" [style.width.%]="60"></div>
            <div class="user-rating-score_red" [style.width.%]="40"></div>
        </div>
        <div class="rating-buttons">
            <button class="rating-button add_rating" title="Вырастет">
                Вверх
            </button>
            <button class="rating-button remove_rating" title="Упадёт">
                Вниз
            </button>
        </div>
    </div>
</div>
