<h1>Дорабатываю профиль, зайдите позже👷</h1>

<div *ngIf="profileInfo$ | async as profileInfo" class="profile-page">
    <div class="image"></div>
    <p class="name">{{ profileInfo.name }}</p>
    <p class="last-login">{{ profileInfo.last_login }}</p>
    <p *ngIf="profileInfo.status" class="status">{{ profileInfo.status }}</p>

    <div class="container">
        <h2>Рейтинг</h2>
        <p
            title="Насколько профиль любим пользователями"
            class="rating-score"
            [ngStyle]="{
                color:
                    profileInfo.rating >= 0
                        ? 'var(--color-green)'
                        : 'var(--color-red)'
            }"
        >
            {{ profileInfo.rating }}
        </p>
        <div class="rating-buttons">
            <button class="rating-button add_rating" title="Добавить">+</button>
            <button class="rating-button remove_rating" title="Снизить">
                –
            </button>
        </div>
    </div>
</div>
