.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
    border: 5px var(--color-gray) solid;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    min-height: 150px;

    & h2 {
        text-align: center;
    }

    &_green {
        border: 5px var(--color-green) solid;
    }

    &_red {
        border: 5px var(--color-red) solid;
    }
}

.profile-header {
    display: flex;
    justify-content: center;
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-color: var(--color-gray);
    align-self: center;
}

.name-status {
    width: 40%;
    word-break: break-all;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

.rating {
    &-score {
        font-size: 2rem;
    }

    &-buttons {
        display: flex;
        gap: 20px;
    }

    &-button {
        height: 40px;
        width: 40px;
        border-radius: 20px;
        font-size: 2rem;
        appearance: none;
        border: none;
        cursor: pointer;
    }
}

.add_rating {
    background-color: var(--color-green);
}

.remove_rating {
    background-color: var(--color-red);
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.logout {
    margin: 15px;
    padding: 10px;
    background-color: var(--color-red);
    appearance: none;
    border: none;
    height: 40px;
    font-size: 1rem;
    transition: 0.3s;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}

@media (max-width: 768px) {
    .profile-header {
        flex-direction: column;
    }

    .name-status {
        width: auto;
    }
}
