.container {
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    border: 5px var(--color-gray) solid;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    align-items: center;
}

.rating {
    &-score {
        font-size: 2rem;
    }

    &-buttons {
        display: flex;
        gap: 20px;
    }

    &-button {
        height: 40px;
        width: 40px;
        border-radius: 20px;
        font-size: 2rem;
        appearance: none;
        border: none;
        cursor: pointer;
    }
}

.add_rating {
    background-color: var(--color-green);
}

.remove_rating {
    background-color: var(--color-red);
    display: flex;
    align-items: baseline;
    justify-content: center;
}
