<ng-container
    *ngIf="profileInfo$ | async as profileInfo; else undefinedProfile"
>
    <div class="profile-header">
        <div
            class="image"
            [ngStyle]="{
                'background-image':
                    'url(' + (profileInfo?.pic || DEFAULT_PIC) + ')'
            }"
        ></div>
        <div class="container name-status">
            <h2 class="name">{{ profileInfo.name }}</h2>
            <p *ngIf="profileInfo?.status" class="status">
                {{ profileInfo?.status }}
            </p>
        </div>

        <div
            class="container"
            [ngClass]="
                profileInfo?.rating >= 0 ? 'container_green' : 'container_red'
            "
        >
            <h2>Рейтинг</h2>
            <p
                title="Насколько профиль любим пользователями"
                class="rating-score"
                [ngStyle]="{
                    color:
                        profileInfo?.rating >= 0
                            ? 'var(--color-green)'
                            : 'var(--color-red)'
                }"
            >
                {{ profileInfo.rating }}
            </p>
            <div *ngIf="!(isMineProdile$ | async)" class="rating-buttons">
                <button class="rating-button add_rating" title="Добавить">
                    +
                </button>
                <button class="rating-button remove_rating" title="Снизить">
                    –
                </button>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="container favorites">
            <h2>Избранное</h2>
            <div *ngIf="profileInfo?.favorites.length; else empty"></div>
        </div>

        <div class="container virtual-portfolio">
            <h2>Виртуальный портфель</h2>
            <div *ngIf="profileInfo?.virtual_portfolio; else empty"></div>
        </div>
    </div>

    <button *ngIf="isMineProdile$ | async" class="logout" (click)="logout()">
        Выйти из аккаунта
    </button>
</ng-container>

<ng-template #empty>
    <p>Пусто</p>
</ng-template>

<ng-template #undefinedProfile>
    <h2>Такого пользователя не существует =(</h2>
</ng-template>
