<button class="menu-button" (click)="opened = !opened">Меню</button>

<div *ngIf="opened" class="menu">
    <nav (click)="opened = !opened">
        <a routerLink="/" routerLinkActive="active-link">Главная</a>
        <a
            [routerLink]="'/' + ERoutes.SHARE"
            [state]="{ type: ERoutes.SHARE }"
            routerLinkActive="active-link"
            >Акции</a
        >
        <a
            [routerLink]="'/' + ERoutes.ETF"
            [state]="{ type: ERoutes.ETF }"
            routerLinkActive="active-link"
            >Паи</a
        >
        <a
            [routerLink]="'/' + ERoutes.BOND"
            [state]="{ type: ERoutes.BOND }"
            routerLinkActive="active-link"
            >Облигации</a
        >
        <a
            [routerLink]="'/' + ERoutes.FUTURE"
            [state]="{ type: ERoutes.FUTURE }"
            routerLinkActive="active-link"
            >Фьючерсы</a
        >
        <a
            [routerLink]="'/' + ERoutes.OPTION"
            [state]="{ type: ERoutes.OPTION }"
            routerLinkActive="active-link"
            >Опционы</a
        >
        <a [routerLink]="'/' + ERoutes.CRYPTO" routerLinkActive="active-link"
            >Криптовалюта</a
        >
    </nav>
</div>
