<button class="menu-button" (click)="opened = !opened">Меню</button>

<div *ngIf="opened" class="menu">
    <nav (click)="opened = !opened">
        <a [routerLink]="'/' + ERoutes.SHARES">Акции</a>
        <a [routerLink]="'/' + ERoutes.ETFS">Паи</a>
        <a [routerLink]="'/' + ERoutes.BONDS">Облигации</a>
        <a [routerLink]="'/' + ERoutes.FUTURES">Фьючерсы</a>
        <a [routerLink]="'/' + ERoutes.OPTIONS">Опционы</a>
        <a [routerLink]="'/' + ERoutes.CRYPTO">Криптовалюта</a>
    </nav>
</div>
